<h4>Search for Joke</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResults" class="form-inline">
            <div class="form-group">
                <label class="control-label" for="SearchJoke"></label>

                <input class="form-control" name="SearchJoke"/>
                &nbsp;
                <input type="submit" value="Search" class="btn btn-primary btn-sm" />
            </div>
           
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
